.store {
  width: 90%;
  height: 90%;
  background: radial-gradient(circle at 80% 80%,
    rgb(229, 193, 151) 0%,
    rgb(104, 104, 104) 30%,
    rgb(136, 121, 102) 60%,
    rgb(165, 111, 48) 100%, );
  border: solid 2px rgb(112, 58, 14);
  border-radius: 50px;
  margin: auto;
  margin-top: 2.5%;

  .weapons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 50px;
    width: 100%;
    padding: 0 5%;
    padding-top: 5%;
    
  }
}