.stick-man {
  position: absolute;
  animation: move 10s linear;
  animation-fill-mode: forwards;
  width: 50px;
  visibility: hidden;
  &-video {
    width: 50px;

  }

  &-dead {
    display: none;
  }
}

@keyframes move {

  0% {
    transform: translateX(-100px);
    visibility: visible;
  }

  100% {
    transform: translateX(70vw);
    visibility: visible;
  }
}