* {
    font-family:'Courier New',
    Courier,
    monospace;
}

.app {
  background: linear-gradient(to bottom, rgb(67, 127, 255) 28%, rgb(104, 67, 0) 30%, rgb(105, 63, 0) 30%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
};

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .app {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}